img {
  width: 100%;
  height: 100%;
}

.site-header {
  font-family: "gothambold", sans-serif;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease-in;
  top: 0;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 1px 4px 4px rgb(0 0 0 / 20%);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.blog-wrapper {
  padding: 60px 0;
}

.site-header .navbar-expand {
  width: 100%;
}
